<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav'); %>
    <main role="main">
        <%- include('partials/jumbotron'); %>
        <div class="container">
            <h2 class="page-header"><%=blog.title%></h2>
            <p><%=blog.body%></p>
            
        </div>
        <!-- /container-->
    </main><br>
    <%- include('partials/footer'); %>
</body>

</html>