<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav'); %>
    <main role="main">
        <%- include('partials/jumbotron'); %>
        <div class="container">
            <h2 class="page-header">Register</h2>
            <% if (typeof errors != 'undefined') { %>
            <p>
                <% errors.forEach(function(err) { %>
                    <li><%= err.msg %> </li>
                <% })%>
            </p>
            <% } %>
            <p>Please register using the form below</p>
            <form method="post" action="/users/register" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Full Name</label>
                    <input class="form-control" name="fullname" type="text" placeholder="Enter Full Name" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" name="email" type="email" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="username" type="text" placeholder="Enter Username" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="password" type="password" placeholder="Enter Password" />
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" name="password2" type="password" placeholder="Confirm Password" />
                </div>
                <div class="form-group">
                    <label>Profile Image</label>
                    <input class="form-control" name="profileimage" type="file" />
                </div>
                <input class="btn btn-primary" type="submit" name="submit" value="Register" /></form>
        </div>
        <!-- /container-->
    </main><br>
    <%- include('partials/footer'); %>
</body>

</html>